<li>
    <div class="item-container">
        <div class="item-image">
            {{ fields.field_degrees_image.content }}
        </div>
        <div class="item-content">
            <h5>{{ fields.title.content }}</h5>
            <p>{{ fields.body.content }}</p>
        </div>
    </div>
</li>